streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
pymupdf
sentence-transformers
python-dotenv
python-docx
groq
fpdf2
protobuf==3.20.3
resend
langchain-google-genai